<% for (let i=0; i<data.rows.length;i++) { %>
  <tr>
    <th scope="row">
      <%= i+1 %>
    </th>
    <td>
      <%= data.rows[i].user %>
    </td>
    <td>
      <%= data.rows[i].fullname %>
    </td>
    <td>
      <%= data.rows[i].address %>
    </td>
    <td>
      <a href="/list-user/<%= data.rows[i].user %>"><span class="setting"><i class="fa fa-eye" aria-hidden="true"></i></span></a>
      <a href="/edit-user/<%= data.rows[i].user %>"><span class="setting"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></a>
      <form action="/delete-user" method="post" class="del">
        <input type="hidden" value="<% data.rows[i].user %>" name="username" />
        <label for="<%= data.rows[i].user %>"><span class="setting"><i class="fa fa-trash" aria-hidden="true"></i></span></label>
        <input id="<%= data.rows[i].user %>" type="submit" value="Xóa" style="display: none;">

      </form>
    </td>
  </tr>
<% }%>