<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <div class="container mt-3">   
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <th>Password</th>
              <th>Fullname</th>
              <th>Address</th>
              <th>Sex</th>
              <th>Email</th>
              <th>Gruopid</th>
              <th>Setting</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach(function(user) { %>
            <tr>
              <td style="padding: 3px 5px;"><%= user.username %></td>
              <td style="padding: 3px 5px;"><%= user.password %></td>
              <td style="padding: 3px 5px;"><%= user.fullname %></td>
              <td style="padding: 3px 5px;"><%= user.address %></td>
              <td style="padding: 3px 5px;"><%= user.sex %></td>
              <td style="padding: 3px 5px;"><%= user.email %></td>
              <td style="padding: 3px 5px;"><%= user.groupid %></td>
              <td>
                <a href="/edit-user/<%= user.username %>"><span class="setting">Sửa</span></a>
                <!-- <form action="/delete-user" method="post" class="del">
                  <input type="hidden" value="<%  %>" name="username" />
                  <label for="<%=  %>"><span class="setting">Xóa</span></label>
                  <input id="<%=  %>" type="submit" value="Xóa" style="display: none;">
                </form> -->
              </td>
            </tr>
            <%}) %>
          </tbody>
        </table>
    </div>
      
</body>
</html>